.faq {
  padding-top: 50px;
  padding-bottom: 80px;

  .title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .faq {
    .container {
      flex-direction: column;
    }
  }

  .ellipse {
    width: 536px;
    height: 536px;
    position: absolute;
    right: -321.928px;
    bottom: -67px;
    border-radius: 536px;
    opacity: 0.4;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #59d2f9 0%,
      rgba(89, 210, 249, 0) 100%
    );
    filter: blur(100px);
  }
}

.items {
  width: 677px;
  .item {
    background-color: inherit;
    border-bottom: none;
    color: #ffffff;
    font-size: 18px;

    .item-header {
      button {
        color: #ffffff;
        background-color: inherit;
        padding-left: 2em !important;
        font-size: 20px;
        border-bottom: 1px solid var(--Blue, #59d2f9);

        &::after {
          position: absolute;
          order: -1;
          margin-right: 0.5em !important;
          left: 0vw !important;
          background-image: url("/images/arrow.svg");
        }
      }
    }
  }
}

.ellipse {
  display: none;
}
