
.comments {
    padding-bottom: 50px;
}

.item{
    text-align: center;
    flex-grow: 2;
    padding: 5px;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

