.comments {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-shadow: 0px 4px 4.8px rgba(0, 0, 0, 0.25);

  .text {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    > span {
      color: #59d2f9;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;

  .item {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid var(--Stroke, #59d2f9);
    background: rgba(89, 210, 249, 0.2);
  }
}

.ellipse {
  display: none;
}

@media only screen and (min-width: 768px) {
  .ellipse {
    display: block;
    width: 692.913px;
    height: 692.913px;
    position: absolute;
    right: -346.913px;
    bottom: -346.913px;
    border-radius: 692.913px;
    opacity: 0.4;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #59d2f9 0%,
      rgba(89, 210, 249, 0) 100%
    );
    filter: blur(100px);
  }

  .list {
    flex-direction: row;
  }

  .title {
    flex-direction: row;
    .text {
      font-size: 100px;
    }
  }
}
