.layout{
    .ellipse{
        width: 859px;
        height: 859px;
        flex-shrink: 0;
        border-radius: 859px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(89, 210, 249, 0.30) 0%, rgba(89, 210, 249, 0.00) 100%);
        filter: blur(100px);
        top:-430px;
        left:-430px;
        position: absolute;
    }
}