.content{
  margin: auto;
  width: 65%;
  text-align: center;
}

.members{
  display: flex;
  flex-wrap: wrap;
}

.member{
  text-align: center;
  padding: 20px 10px;
}

.avatar{
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: aquamarine;
  border: 4mm ridge rgba(170, 50, 220, .6);
  border-radius: 50%;
}

.name{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.role{
  text-transform: uppercase;
  font-weight: bold;
  color: #FF3392;
  font-size: 18px;
}

.bio{
  max-width: 300px;
}