.faq{
    padding: 6px 12px;
    border-top: none;
}

.item{
    background-color: inherit;
    border-bottom: none;
    color: #ffffff;
    font-size: 18px;
}

.item-header button{
    background-color: inherit;
    padding-left: 2em !important;
    font-size: 20px;
}

.item-header button:not(.collapsed)
{
    font-size: 20px;
    background-color: inherit;
}

.item-header button::after{
    position: absolute;
    order: -1;
    margin-right: .5em !important;
    left: 0vw !important;
    fill: #ffffff;
}