.warning{
    color: #ffffff;
    text-align: center;
}

.warning img {
    padding-right: 5px !important;
}

.resources{
    padding-top: 50px;
}

.resources img{
    max-width: 130px;
}

.resources .tabs{
    top: 0;
    overflow: hidden;
    min-width: 250px;
    float: left;
}

.resources .tabs button{
    width: 100%;
    display: block;
    color: #ffffff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 1px solid #6CA8EF;
    background-color: inherit;
}

.resources .tabs button.active {
    color: #38388C
}