@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.privace {
    background-color: #392f7c;
}

.privace img {
    width: 250px;
    height: 250px;
}

.privace h3 {
    font-family: 'Luckiest Guy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.privace h4 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
}