.list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item{
  flex-grow: 2;
  padding: 10px;
}

.claim{
  text-align: center;
}

.claim input[type="button"]{
  width: 200px;
  height: 60px;
  margin: auto !important;
  background-color: #E8561C;
  border-radius: 50rem;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px !important;
}