.characters {
  background-image: url('/images/character-bg.png');
  background-size: cover;
}

.containAvatar {
  background-image: url('/images/character-item-bg.png');
  background-size: contain;
  width: 100px;
  height: 140px;
  position: relative;
  background-color: #ef4bf2;
  filter: grayscale(1);
  margin-right: 5px;
  margin-left: 5px;
}

.containAvatarSelect {
  background-image: url('/images/character-item-bg.png');
  background-size: contain;
  width: 100px;
  height: 140px;
  position: relative;
  background-color: #ef4bf2;
  margin-right: 5px;
  margin-left: 5px;
}

.avatar {
  top: -5px;
  left: 5px;
  right: -5px;
  bottom: 40px;
  position: absolute;
  border: 5px solid rgb(255, 179, 65);
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.type {
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 0;
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
}

.description {
  font-weight: normal;
  font-size: 20px;
}

.characterSlider {
  position: relative;
}

.characterSliderContain {
  position: absolute;
  z-index: 9999;
  padding: 0 10px;
}

.characterContain {
  flex-wrap: wrap-reverse;
}

.characterDes {
  min-width: 350px;
}

.characterImg {
  position: relative;
  border: 10px solid #ef4bf2;
  min-width: 350px;
}

.characterName {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-top: 180px;
}

.maxim {
  margin-bottom: 0;
}

.star {
  padding-right: 10px !important;
}

.line {
  border: 1px solid #ef4bf2;
  margin: 20px 50px;
}

.carousel {
  padding: 15px;
}

@media screen and (max-width: 992px) {
  .characterName {
    margin-top: 40px;
  }
}
