.footer {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
}

.follow {
  margin-bottom: 10px;
}

.social {
  margin-right: 30px;
}

.social img {
  margin-top: 10px;
}

.submenu {
  border-top: 2px solid #606060;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  margin-right: 15px;
}

.textCopy {
  text-align: center;
}

.whitepaperImg {
  width: 43px;
  height: 43px;
  margin-right: 5px;
}

.head{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 48px;
  font-weight: bold;
}


.items{
  padding-left: 0;
}

.bg{
  background-color: #000000;
}