.footer {
  border-top: 1px solid #38388C;
}

.footer .inner{
  display: flex;
  margin: 0 auto;
  width: 1400px;
  max-width: 100%;
}

.footer .inner .content{
  text-align: center;
  flex: 1;
  justify-content: space-between;
  font-size: 1rem;
  color: #38388C;
}