.introduction {
  align-items: center;
}

.title{
    font-size : 70px;
}

.banner{
    height: 320px;
}

.title span{
    color : #2830CE;
}

.buttons{
    text-align: center;
}

.buttons input[type="button"]{
    background-color: #E8561C;
    color: #ffffff;
    border-radius: 5px;
    margin:15px;
    font-weight: bold;
    border: none;
    width: 150px;
}

.content {
    margin: auto;
    text-align: left;
    font-family: "AmsiProCond-Black";
    font-size : 25px;
    color : #38388C;
}

.button {
    background: none;
    border: none;
}

.connect {
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .content {
        font-size: 20px;
    }
}

.item {
    background-color: #191959;
    width: 350px;
    height: 350px;   
    text-align: center;
    align-items: center;
    margin: auto;
}

.slick-current .item{
    transform: scale(1.2);
}

.item img{
   height: 100%;
   width: 100%;
   margin: auto;
}

.subTitle{
    text-align: center;
    color: #FF3392;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "UTMCooperBlack";
}