.introduction {
    background-image: url('/images/intro-bg.jpg');
    background-size: cover;
}

.content {
    font-weight: normal;
    font-size: 25px;
}

.button {
    background: none;
    border: none;
}

.connect {
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .content {
        font-size: 20px;
    }
}