.road-map{
    padding-top: 120px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .grid{
        height: 505px;
        position: absolute;
        top: -5px;
        fill: linear-gradient(180deg, rgba(89, 210, 249, 0.40) 0%, rgba(89, 210, 249, 0.00) 69.77%);
    }
}

.phases{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;

    .cat{
        position: absolute;
        right: -30px;
        bottom: -30px;
        width: 320.946px;
        height: 320.946px;
    }

    .phase{
        display: flex;
        height: 355px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 24px;
        border: 1px solid var(--Stroke, #59D2F9);
        background: rgba(89, 210, 249, 0.20);

        .line{
            width: 355px;
            height: 1px;
            background: #fff;
        }

        .content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .item{
                display: flex;
                flex-direction: row;
                gap: 16px;
                word-wrap: break-word;
                align-items: flex-start;

                .text{
                    width: 315px;
                }
            }
        }
    }
}

.bullet{
    width: 20px;
    height: 20px;
    border-radius: 63px;
    border: 1px solid var(--Blue, #59D2F9);
}